<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid m-2">
            <a href="/" class="navbar-brand">Project0</a>

            <a href="/register/logout">Logout</a>
        </div>
    </nav>

    <% for(let i=0; i < lists.length; i++) { %>
        <div>
            <a href="/post/list/<%= lists[i]._id %>">
                <%= lists[i].name %>
                <% if (lists[i].image) { %>
                    <img src="<%= lists[i].image %>" alt="">
                <% } %>
            </a>
            <h2>Created by</h2>
            <span><%=user.name%></span>
            <% if (!user.avatar) { %>
            <img src="/images/avatar.png" alt="avatar image">
            <% } else if (user.avatar) { %>
            <img src="<%=user.avatar%>" alt="avatar image">
            <% } %>
        </div>
    <% } %>

    <div>
        <a href="/dashboard">Return to Dashboard</a>
    </div>

    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>