<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= list.name %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bg-dark text-light">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid m-2">
            <a href="/" class="navbar-brand">Project0</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a href="/dashboard/literature" class="text-decoration-none link-light">My Literature</a></button></li>
                    <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a href="/dashboard/lists" class="text-decoration-none link-light">My Lists</a></button></li>
                    <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a href="/dashboard/feed" class="text-decoration-none link-light">Feed</a></button></li>
                    <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a href="/register/logout" class="text-decoration-none link-light">Logout</a></button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="d-flex flex-column align-items-center">
            <h1><%= list.name %>!</h1>

            
            <img class="img-fluid mb-3" src="<%= list.image %>">
        
    
            <span class="mb-3"><%= list.description %></span>
            
            
            <% for (let i=0; i < list.documents.length; i++) { %>
                <% docs.forEach((ele, index) => { %>
                    <% if (ele._id == list.documents[i].split(', ')[0]) { %>
                        <span data-bs-toggle="modal" data-bs-target="#doc-<%= index %>" class="span-link mb-3"> <%= ele.title %> </span>
                    <%  } %>
                <% }) %>
            <% } %>
            
            <div class="d-flex flex-row align-items-center">
                <span>Created by <%=list.user.name%></span>
                <% if (!list.user.avatar) { %>
                    <div class="medium-avatar" style="background-image: url(/images/avatar.png)"></div>
                <% } else if (list.user.avatar) { %>
                    <div class="medium-avatar" style="background-image: url(<%=list.user.avatar%>)"></div>
                <% } %>
            </div>
        </div>
        
    </div>

    <% for (let i=0; i < list.documents.length; i++) { %>
        <% docs.forEach((el, index) => { %>
            <% if (el._id == list.documents[i].split(', ')[0]) { %>
                    <div class="modal fade" id="doc-<%= index %>" tabindex="-1" aria-labelledby="docLabel-<%= index %>" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content bg-dark">
                            <div class="modal-header">
                              <h3 class="modal-title" id="docLabel-<%= index %>"><%= el.title %></h3>
                              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex flex-column align-items-center">
                                <img class="img-fluid mb-1" src="<%= el.image %>" >
                                <span>Written by <%= el.author %> </span>
                                <span>Current status: <%= el.status %> </span>
                                <span>Genre: <%= el.genre %> </span>
                                <span>Notes: <%= el.notes %> </span>
                                <span>Rating: <%= el.rating %> </span>
                                <span>Where to get: <a href="<%= el.link %>" class="text-decoration-none link-light" target=”_blank”>Get</a></span>
                            </div>
                          </div>
                        </div>
                    </div>
            <%  } %>
        <% }) %>
    <% } %>

    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>