<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project0</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="is-preload landing">
    <!-- Header -->
    <div id="page-wrapper">
        <header id="header">
            <h1 id="logo"><a href="/">Project0</a></h1>
            <nav id="nav">
                <div id="topnav" class="topnav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn button primary">Log in</button>
                                <div id="myDropdown" class="dropdown-content">
                                    <form id="login-form" action="/register/login" class="login-overlay" method="POST">
                                        <input type="email" name="email" id="username-field" class="login-form-field login-overlay" placeholder="Email">
                                        <input type="password" name="password" id="password-field" class="login-form-field login-overlay" placeholder="Password">
                                        <input type="submit" value="Login" id="login-form-submit" class="login-overlay">
                                        <label class="login-overlay message">
                                            <input  type="checkbox"
                                                    checked="checked" class="login-overlay label">
                                            Keep me signed in
                                        </label>
                                        <p class="message">Not registered? <a href="register">Create an account</a></p>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="icon">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                        <!-- <li><a href="/login" class="button primary">Log in</a></li> -->
                    </ul>
                </div>
            </nav>
        </header>
    
        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h2>Sign Up</h2>
                </header>

                <form id="register" action="/register" method="POST">
                    <input type="email" name="email" id="username-field" class="login-form-field" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>">
                    <input type="name" name="name" id="username-field" class="login-form-field" placeholder="Name" value="<%= typeof name != 'undefined' ? name : '' %>">
                    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>">
                    <input type="password" name="password2" id="password-field" class="login-form-field" placeholder="Repeat Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                    <input type="submit" value="Register" id="login-form-submit">
                </form>

                <%- include ("./partials/messages.ejs") %>
            </div>
        </section>
    </div>
    <!-- Scripts -->
    <script src="js/main.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/responsiveNavBar.js"></script>
</body>
</html>